* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.woff") format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.woff") format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.woff") format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.woff") format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

/* Картинки не выходят за границу контейнера */
img {
    max-width: 100%;
}

a {
    color: #d4d6d4;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    font-family: var(--font-family);
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

/* чтобы работал line-height и text-indent нужно задать inline-block */
.link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #d4d6d4;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #FFD723;
}

.link span {
    display: inline-block;
    border-bottom: 1px solid currentColor;
    text-indent: 10px;
    transform: translateX(-2px);
}

.link svg {
    height: 13px;
    width: 13px;
    fill: currentColor;
}

.site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    padding: var(--offset-vertical) var(--offset-horizontal);
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #F5F6F7;
    border-radius: 100%;
}

.burger-line {
    position: absolute;
    top: var(--offset-vertical);
    left: 50%;
    display: inline-block;
    width: calc(100% - (var(--offset-horizontal) * 2));
    height: 2px;
    background: #000000;
    transform: translateX(-50%);
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}

.hero {
    padding-bottom: 221px;
    padding-top: 189px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 616px;
    color: #fff;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.hero-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    margin: 0;
    margin-bottom: 24px;
}

.hero-description {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 45px;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-title {
    margin: 0;
    margin-bottom: 60px;
    max-width: 607px;
}

.services-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.services-link {
    margin-bottom: 0;
    margin-top: auto;
}

.services-subtitle {
    margin: 0;
    margin-bottom: 20px;
    max-width: 183px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-description {
    margin: 0;
    margin-bottom: 30px;
    max-width: 194px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.get-started {
    position: relative;
    top: 180px;
    padding: 70px 0;
    background-color: #fafafa;
    width: 88%;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
    margin: 0;
    margin-bottom: 50px;
    max-width: 822px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.get-started-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    text-transform: uppercase;
}

.footer {
    background-image: url("../img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 300px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5D6544;
    padding-bottom: 52px;
}

.footer-contacts-item:not(:last-child) {
    margin-right: 128px;
}

.footer-contacts-text {
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    margin-bottom: 8px;
}

.footer-contacts-value {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    font-style: normal;
}

.footer-middle {
    --grid-gap: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    padding: 60px 0;
    border-bottom: 1px solid #5D6544;;
}

.footer-column:last-child {
    position: relative;
}

.footer-column:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--grid-gap));
    width: 1px;
    height: 100%;
    background: #5D6544;
}

.footer-title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    text-decoration: none;
}

.footer-text {
    margin: 0;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
}

.footer-mail {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    text-decoration: none;
}

.social {
    display: flex;
}

.social-item:not(:last-child) {
    margin-right: 14px;
}

.social-link {
    display: inline-block;
    width: 33px;
    height: 33px;
    background-color: #444A34;
    background-position: center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.social-link:hover {
    opacity: 0.3;
}

.social-link-fb {
    background-image: url("../img/icons/fb.png");
}

.social-link-tw {
    background-image: url("../img/icons/tw.png");
}

.social-link-g {
    background-image: url("../img/icons/g.png");
}

.social-link-in {
    background-image: url("../img/icons/in.png");
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copyright {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

@media (max-width: 992px) {
    .services-list {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .services-subtitle {
        max-width: none;
    }
    .services-description {
        max-width: none;
    }
    .footer-middle {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-column:last-child::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .get-started-title {
        font-size: 55px;
        line-height: 65px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 40px;
        line-height: 55px;
    }
    .services-list {
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-middle {
        --grid-gap: 40px;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-bottom {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .header-logo {
        max-width: 70%;
    }
    .get-started-title {
        font-size: 40px;
        line-height: 50px;
    }
    .footer-title {
        line-height: 10px;
        margin-bottom: 10px;
    }
    .footer-mail {
        font-size: 21px;
        line-height: 31px;
    }
}